.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title {
    color: blue;
    margin: 0 0 24px 0;
}

.logo {
    height: 250px;
    width: 250px;
    background-color: blue;
    margin: 0 0 24px 0;
}